Package: com.kitty.uedumper
Name: UEDumper
Version: 3.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: CyberCat
Author: CyberCat
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
