{ Filter = { Bundles = (
    "com.farlightgames.farlight84.iosglobal",
    "com.netease.dbdena",
    "com.studiowildcard.wardrumstudios.ark",
    "com.tencent.ig",
    "com.rekoo.pubgm",
    "com.pubg.imobile",
    "com.pubg.krmobile",
    "com.vng.pubgmobile",
    "com.tencent.tmgp.pubgmhd",
    "jp.konami.pesactionmobile",
    "com.lilithgames.xgame.ios.global",
    "com.wb.MK.Brawler2015",
    "com.xd.TLglobal",
    "com.proximabeta.mf.uamo",
    "com.garena.game.bc"
    );
  }; 
}
