{ Filter = { Bundles = (
    "com.farlightgames.farlight84.iosglobal",
    "com.netease.dbdena",
    "com.studiowildcard.wardrumstudios.ark",
    "com.tencent.ig",
    "com.rekoo.pubgm",
    "com.pubg.imobile",
    "com.pubg.krmobile",
    "com.vng.pubgmobile",
    "jp.konami.pesactionmobile",
    "com.lilithgames.xgame.ios.global"
    );
  }; 
}
